---
---

<nav class="navbar">
  <div class="logo">
    <a href="/">TITANFLOW</a>
  </div>

  <ul class="nav-links">
    <li><a href="/">Inicio</a></li>
    <li><a href="/tienda">Tienda</a></li>
    <li><a href="/galeria">Galería</a></li>
    <li><a href="/contacto">Contacto</a></li>
  </ul>
</nav>

<style>
.navbar {
    position: fixed;
    top:0%;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
}

.logo a {
  font-size: 1.8rem;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.5s;
}

.nav-links a:hover {
  color: rgb(163, 129, 255);
}
</style>